*{
margin: 0;
padding: 0;}



body{

    background-color: rgb(0, 0, 0);
    color: rgb(134, 133, 133);
}

.cabecalho{
  background-color: rgb(255, 255, 255);
display: flex;
align-items: center;
justify-content: space-around;
}


.cabecalho-imagem{
width: 19%;
}
  
.lista-item{
display: inline-block;
font-size: 24px;
margin: 0 16px;
margin-right: 100px;
}

.secao1{
  display: flex;
  align-items: center;
  justify-content: center;
padding:24px 0;

}
.secao1-div{
 width: 35%;
}


secao1{
  background-color: darkblue;
text-align: center;
font-size: 30px;
color: blue;
}






