*{
margin: 0;
padding: 0;}



body{
    background-color: rgb(0, 0, 0);
    color: rgb(248, 245, 245);
}

.cabecalho{
  background-color: black;
display: flex;
align-items: center;
justify-content: space-around;
}